<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_CONV' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>


  <ion-list *ngFor="let item of currentItems">
    <button ion-item >
      <ion-avatar item-start>
        <img [src]="item.users[0].picture" />
      </ion-avatar>
      <h2>{{item.users[0].firstname}} {{item.users[0].lastname}}</h2>
      <p>{{item.messages.length > 0 ? item.messages[0].content : ""}}</p>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>

    <!--<ion-item-options>
    <button ion-button color="danger" (click)="deleteItem(item)">
    {{ 'DELETE_BUTTON' | translate }}
  </button>
</ion-item-options>-->
</ion-list>
<ion-fab right bottom (click)="createConversation()">
  <button ion-fab>+</button>
</ion-fab>
<ion-fab center bottom (click)="ionViewDidLoad()">
  <button ion-fab><ion-icon name="refresh"></ion-icon></button>
</ion-fab>
</ion-content>
